In [1]:
import numpy as np
import pandas as pd

Q1) numpy version

In [2]:
np.__version__

'1.19.5'

Q2) pandas version

In [3]:
pd.__version__

'1.2.4'

In [5]:
data = pd.read_csv('data.csv')

In [6]:
data.head(10)

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500
5,BMW,1 Series,2012,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,31200
6,BMW,1 Series,2012,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,26,17,3916,44100
7,BMW,1 Series,2012,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,39300
8,BMW,1 Series,2012,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,36900
9,BMW,1 Series,2013,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,27,18,3916,37200

In [8]:
data.describe()

,Year,Engine HP,Engine Cylinders,Number of Doors,highway MPG,city mpg,Popularity,MSRP
count,11914.000000,11845.00000,11884.000000,11908.000000,11914.000000,11914.000000,11914.000000,1.191400e+04
mean,2010.384338,249.38607,5.628829,3.436093,26.637485,19.733255,1554.911197,4.059474e+04
std,7.579740,109.19187,1.780559,0.881315,8.863001,8.987798,1441.855347,6.010910e+04
min,1990.000000,55.00000,0.000000,2.000000,12.000000,7.000000,2.000000,2.000000e+03
25%,2007.000000,170.00000,4.000000,2.000000,22.000000,16.000000,549.000000,2.100000e+04
50%,2015.000000,227.00000,6.000000,4.000000,26.000000,18.000000,1385.000000,2.999500e+04
75%,2016.000000,300.00000,6.000000,4.000000,30.000000,22.000000,2009.000000,4.223125e+04
max,2017.000000,1001.00000,16.000000,4.000000,354.000000,137.000000,5657.000000,2.065902e+06

Q3) the average price of BMW cars

In [11]:
data[data['Make'] == 'BMW']['MSRP'].mean()

61546.76347305389

Q4)  cars after year 2015. How many of them have missing values for Engine HP?

In [84]:
data[data['Year'] >= 2015]['Engine HP'].isnull().sum()

51

Q5)

    I) Calculate the average "Engine HP" in the dataset

In [14]:
Eng_HP_AVG = data['Engine HP'].mean()
Eng_HP_AVG

249.38607007176023

    II) Use the fillna method and to fill the missing values in "Engine HP" with the mean value from the previous step

In [15]:
data['Engine HP'].fillna(Eng_HP_AVG)
data['Engine HP'].mean()

249.38607007176023

    III) Has it changed?
    No, it hasn't changed

Q6)

    I) Select all the "Rolls-Royce" cars from the dataset.
    II) Select only columns "Engine HP", "Engine Cylinders", "highway MPG".
    III) Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 7 rows).
    IV) Get the underlying NumPy array. Let's call it X.
    V) Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
    VI) Invert XTX.
    VII) What's the sum of all the elements of the result?

In [85]:
Rolls_Royce = data[data['Make'] == 'Rolls-Royce']

In [86]:
Rolls_Royce = Rolls_Royce[['Engine HP', 'Engine Cylinders', 'highway MPG']].drop_duplicates()

In [91]:
X = np.array(Rolls_Royce)
XTX = np.dot(X.T, X)
XTX.shape

(3, 3)

In [92]:
X.shape

(7, 3)

In [93]:
XTX_INV = np.linalg.inv(XTX)
XTX_INV.shape

(3, 3)

In [94]:
XTX_INV_SUM = XTX_INV.sum()
XTX_INV_SUM

0.032212320677486125

Q7)

    I) Create an array y with values [1000, 1100, 900, 1200, 1000, 850, 1300].
    II) Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
    III) What's the value of the first element of w?.

In [95]:
y = np.array([1000, 1100, 900, 1200, 1000, 850, 1300])

In [96]:
a = np.matmul(XTX_INV, X.T)

In [97]:
np.matmul(a, y)

array([ 0.19989598, 31.02612262, 31.65378877])